<app-nav-bar></app-nav-bar>
<div class="ct container">
  <div class="cd card" cdkDropListGroup>
    <h2 class="ml-3 mb-0">Seu Kan-Bam</h2>
    <hr class="mt-2">
    <div class="list-group mr-2 ml-2 mt-2">
      <div class="area">
        <div class="todo d-inline-block">
          <div class="list-group mr-2 ml-2">
            <li class="list-group-item list-group-item-success">
              <i class="far fa-plus-square ml-2 float-right" style="font-size: 25px; cursor: pointer"
                 (click)="t1()"></i>
              <p class="m-0">Tarefas a fazer</p>
            </li>
            <div class="kb"
                 cdkDropList
                 [cdkDropListData]="uni1"
                 (cdkDropListDropped)="drop($event)">
              <a class="list-group-item list-group-item-action" *ngFor="let item of uni1" cdkDrag>
                <i class="far fa-trash-alt ml-2 float-right" style="font-size: 15px; cursor: pointer" (click)="delete(item.id)"></i>
                <div class="item" title="{{item.description}}">
                  {{item.description}}
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="inProgess d-inline-block">
          <div class="list-group mr-2 ml-2">
            <li class="list-group-item list-group-item-warning ">
              <i class="far fa-plus-square ml-2 float-right" style="font-size: 25px; cursor: pointer"
                 (click)="t2()"></i>
              <p class="m-0">Tarefas em andamento</p>
            </li>
            <div class="kb"
                 cdkDropList
                 [cdkDropListData]="uni2"
                 (cdkDropListDropped)="drop($event)">
              <a class="list-group-item list-group-item-action" *ngFor="let item of uni2" cdkDrag>
                <i class="far fa-trash-alt ml-2 float-right" style="font-size: 15px; cursor: pointer" (click)="delete(item.id)"></i>
                <div class="item" title="{{item.description}}">
                  {{item.description}}
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="overdue d-inline-block">
          <div class="list-group mr-2 ml-2">
            <li class="list-group-item list-group-item-danger ">
              <i class="far fa-plus-square ml-2 float-right" style="font-size: 25px; cursor: pointer"
                 (click)="t3()"></i>
              <p class="m-0">Tarefas em atraso</p>
            </li>
            <div class="kb"
                 cdkDropList
                 [cdkDropListData]="uni3"
                 (cdkDropListDropped)="drop($event)">
              <a class="list-group-item list-group-item-action" *ngFor="let item of uni3" cdkDrag>
                <i class="far fa-trash-alt ml-2 float-right" style="font-size: 15px; cursor: pointer" (click)="delete(item.id)"></i>
                <div class="item" title="{{item.description}}">
                  {{item.description}}
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="completed d-inline-block">
          <div class="list-group mr-2 ml-2">
            <li class="list-group-item list-group-item-info ">
              <i class="far fa-plus-square ml-2 float-right" style="font-size: 25px; cursor: pointer"
                 (click)="t4()"></i>
              <p class="m-0">Tarefas Concluídas</p>
            </li>
            <div class="kb"
                 cdkDropList
                 [cdkDropListData]="uni4"
                 (cdkDropListDropped)="drop($event)">
              <a class="list-group-item list-group-item-action" *ngFor="let item of uni4" cdkDrag>
                <i class="far fa-trash-alt ml-2 float-right" style="font-size: 15px; cursor: pointer" (click)="delete(item.id)"></i>
                <div class="item" title="{{item.description}}">
                  {{item.description}}
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <form [formGroup]="form" *ngIf="show">
        <div class="footer d-flex">
          <label class="mr-2 mb-0 mt-2">Descrição :</label>
          <input class="form-control w-75" style="border: #343a40 solid 1px" formControlName="description" autofocus>
          <button class="btn btn-success ml-2" (click)="add()">Feito</button>
        </div>
      </form>
    </div>
  </div>
</div>

