.task {
  max-width: 40%;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 25%;
  box-shadow: 2px 5px #cccccc;
}

.bt {
  background-color: #77C064;
  color: #FFFFFF;
}

.cd {
  box-shadow: 2px 5px #cccccc;
  min-height: 80vh;
}

.ct {
  margin-top: 5%;
}

.todo, .inProgess, .overdue, .completed {
  max-width: 25%;
  min-width: 25%;
}

.item {
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.footer {
  margin-top: 15%;
}

.but {
  width: 10%;
}

.kb{
  min-height: 10px;
  max-height: 400px;
  border: #cccccc 1px solid;
  overflow-x: auto;
}

.area {
  max-height: 300px;
  min-height: 300px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.area.cdk-drop-list-dragging .kb:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
