/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html {
  background-color: #D4FFD4;
}

.container {
  background-color: #D4FFD4;
}

body {
  background-color: #D4FFD4;
}

.header {
  margin-top: 70px;
}

::-webkit-scrollbar {
  width:10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #343a40;
}

::-webkit-scrollbar-thumb {
  background: #EEE;
  border-radius: 5px;
}
