<app-nav-bar></app-nav-bar>
<div class="header container">
  <div class="crd card pb-5">
    <h2 class="ml-4 mt-3">Bem-Vindo</h2>
    <hr>
      <h3 class="text-center">Ferramentas utilizadas</h3>
    <p class="text-center mb-3">aqui está reunido os frameworks linguagem e base de dados reunidos utilizados.</p>
    <section>
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
          <div class="card ml-2">
            <div class="card text-center">
              <div class="avatar mx-auto white">
                <img src="assets/img/angular.png" class="rounded-circle img-fluid"
                     alt="First sample avatar image">
              </div>
              <div class="cd card-body">
                <h4 class="font-weight-bold mt-1 mb-3">Angular</h4>
                <p class="font-weight-bold dark-grey-text">Front-end</p>
                <p>
                  É uma plataforma e framework para construção de
                  interfaces de aplicações usando HTML, CSS e, principalmente,
                  JavaScript, criada pelos desenvolvedores da Google.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
          <div class="card">
            <div class="card text-center">
              <div class="avatar mx-auto white">
                <img src="assets/img/node.png" class="rounded-circle img-fluid"
                     alt="First sample avatar image">
              </div>
              <div class="cd card-body">
                <h4 class="font-weight-bold mt-1 mb-3">Node JS</h4>
                <p class="font-weight-bold dark-grey-text">Back-end</p>
                <p>
                  Trata-se de um software open-source, cross-platform,
                  e de um runtime de JavaScript que execute código de
                  JavaScript a nível backend e frontend.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="card mr-2">
            <div class="card text-center">
              <div class="avatar mx-auto white">
                <img src="assets/img/postegresql.png" class="img-fluid"
                     alt="First sample avatar image">
              </div>
              <div class="cd card-body">
                <h4 class="font-weight-bold mt-1 mb-3">Postgre SQL</h4>
                <p class="font-weight-bold dark-grey-text">Base de Dados</p>
                <p>
                  É um sistema de gerenciamento de banco de dados
                  objeto-relacional desenvolvido pelo Departamento de Ciência da
                  Computação da Universidade da Califórnia em Berkeley.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="container">
  <div class="rodape">
  <p class="text-center">Feito e produzido por<a class="ml-1" href="https://www.facebook.com/guilherme.porto.9212301/">Guilherme da Silva Porto</a></p>
  </div>
</div>
