.header {
  margin-top: 5%;
}

.cd {
  min-height: 265px;
}

.rodape {
  margin-bottom: 5px;
  padding: 10px;
  color: #FFFFFF;
  background-color: #343a40;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
