.ct {
  margin-top: 5%;
}

.img {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  object-fit: cover
}

#img-section p,
#deactivate p {
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
  text-align: justify
}

#img-section b,
#img-section button,
#deactivate b {
  font-size: 14px
}

label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  color: #777;
  padding-left: 3px
}

.form-control {
  border-radius: 10px
}

input[placeholder] {
  font-weight: 500
}

.form-control:focus {
  box-shadow: none;
  border: 1.5px solid #77C064;
}

select {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 40px;
  padding: 5px 10px
}

select:focus {
  outline: none
}

.button {
  background-color: #fff;
  color: #77C064;
}

.button:hover {
  background-color: #77C064;
  color: #fff
}

.btn-primary {
  background-color: #77C064
}

.danger {
  background-color: #fff;
  color: #e20404;
  border: 1px solid #ddd
}

.danger:hover {
  background-color: #e20404;
  color: #fff
}

@media(max-width:576px) {
  .wrapper {
    padding: 25px 20px
  }

  #deactivate {
    line-height: 18px
  }
}
