<app-nav-bar></app-nav-bar>
<div class="ct container">
  <div class="card">
    <h4 class="border-bottom">Seu perfil</h4>
    <div class="d-flex align-items-start border-bottom"><img src="#" class="img" alt="">
      <div id="img-section"><b>Foto de Perfil</b>
        <p>somente fotos abaixo de 1MB</p>
        <button class="btn button border"><b>Trocar</b></button>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-md-6"><label>Nome</label> <input type="text" class="bg-light form-control"
                                                         placeholder="Steve"></div>
        <div class="col-md-6 pt-md-0 pt-3"><label>Sobrenome</label> <input type="text"
                                                                           class="bg-light form-control"
                                                                           placeholder="Smith"></div>
      </div>
      <div class="row">
        <div class="col-md-6"><label>E-mail</label> <input type="text" class="bg-light form-control"
                                                           placeholder="steve_@email.com"></div>
        <div class="col-md-6 pt-md-0 pt-3"><label>Endereço</label> <input type="tel"
                                                                          class="bg-light form-control"
                                                                          placeholder="via tal">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"><label>Cidade</label> <select name="country" id="country" class="bg-light">
          <option value="india" selected>India</option>
          <option value="usa">USA</option>
          <option value="uk">UK</option>
          <option value="uae">UAE</option>
        </select></div>
        <div class="col-md-6 pt-md-0 pt-3" id="lang"><label for="language">Estado</label>
          <div class="arrow"><select name="language" id="language" class="bg-light">
            <option value="english" selected>English</option>
            <option value="english_us">English (United States)</option>
            <option value="enguk">English UK</option>
            <option value="arab">Arabic</option>
          </select></div>
        </div>
      </div>
      <div class="border-bottom">
        <button class="btn btn-primary mr-3">Salvar</button>
        <button class="btn border button">Cancelar</button>
      </div>
      <div class="d-sm-flex align-items-center pt-3" id="deactivate">
        <div><b>Desativar conta</b>
          <p>detalher de conta troca de email ou senha</p>
        </div>
        <div class="ml-auto">
          <button class="btn danger">Desativar agora</button>
        </div>
      </div>
    </div>
  </div>
</div>
