.login-form {
  margin-top: 15%;
  margin-left: 37%;
  margin-right: 37%;
}

.crd {
  border-radius: 5%;
  color: #2C5520;
  box-shadow: 2px 5px #cccccc;
}

.ico {
  max-width: 100px;
  max-height: 100px;
}

.but {
  margin-right: 30%;
  margin-left: 30%;
}

.bt {
  background-color: #77C064;
  color: #FFFFFF;
}

a{
  text-decoration: none;
  color: #2C5520;
}


