<div class="container">
<div class="login-form">
  <form [formGroup]="form" (submit)="submit()">
    <div class="crd card mt-1">
      <div class="text-center mt-1">
      <img class="ico" src="assets/img/icon.png">
      </div>
      <div class="text-center">
      <h2>Unicórnios</h2>
      </div>
    <div class="form-group mr-2 ml-2">
      <input type="text" class="form-control" placeholder="ID" formControlName="id" id="id">
    </div>
    <div class="form-group mr-2 ml-2">
      <input type="password" class="form-control" placeholder="Senha" formControlName="password" id="password">
    </div>
    <div class="form-group but">
      <button class="bt btn btn-block" type="submit">Acessar</button>
    </div>
  <p class="text-center"><a routerLink="/register">Cadastre-se</a></p>
    </div>
  </form>
</div>
</div>
