p{
  margin: 0;
}
.crd {
margin-top: 15%;
  border-radius: 5px;
  box-shadow: 2px 5px #cccccc;
}

.name {
  width: 70%;
}

.date {
width: 30%;
}

.register {
width: 50%;
}

.document {
width: 50%;
}

.nickName {
width: 33%;
}

.email {
width: 33%;
}

.password {
width: 33%;
}

.bt-1 {
  background-color: #cccccc;
  margin-right: 50%;
}

.bt-2 {
  background-color: #77C064;
  color: #FFFFFF;
  margin: 0;
}
