<div class="container">
  <div class="crd card">
    <form [formGroup]="form" (submit)="submit()">
      <h2 class="ml-5 mt-2">Cadastre-se</h2>
      <hr>
      <div class="form-group mr-2 ml-2">
        <div class="d-flex">
        <div class="name form-group mr-2 ml-2">
          <p>Nome completo</p>
          <input type="text" class="form-control" formControlName="name" id="name">
        </div>
        <div class="date form-group mr-2 ml-2">
          <p>Data de nascimento</p>
          <input type="date" class="form-control" formControlName="date" id="date">
        </div>
        </div>
        <div class="d-flex">
        <div class="register form-group mr-2 ml-2">
          <p>RG</p>
          <input type="text" class="form-control" formControlName="document_RG" id="document_RG">
        </div>
        <div class="document form-group mr-2 ml-2">
          <p>CPF</p>
          <input type="text" class="form-control" formControlName="document_CPF" id="document_CPF">
        </div>
        </div>
        <div class="d-flex">
        <div class="nickName form-group mr-2 ml-2">
          <p>Apelido</p>
          <input type="text" class="form-control" formControlName="nickname" id="nickname">
        </div>
        <div class="email form-group mr-2 ml-2">
          <p>E-mail</p>
          <input type="email" class="form-control" placeholder="Email@exemplo.com" formControlName="email" id="email">
        </div>
        </div>
      </div>
      <div class="d-flex">
      <button class="bt-1 btn btn-block ml-2 mb-2">voltar</button>
      <button class="bt-2 btn btn-block mr-2 mb-2" type="submit">cadastrar</button>
      </div>
    </form>
  </div>
</div>
