<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div>
    <img class="mb-2" src="assets/img/icon.png" alt="" style="width: 40px; height: 40px">
    <a class="navbar-brand ml-4" routerLink="">Unicórnios</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=""
          aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home<span></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/unicorn">Unicórnios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bro">Perfil</a>
      </li>
    </ul>
  </div>
  <button routerLink="/" class="btn btn-danger" style="border-radius: 50%"><i class="fas fa-power-off"></i></button>
</nav>
